/* 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * basket
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 */

.basket header{
 /*   padding: 15px 0 15px 15px;*/
}

.basketContainer header h1{
    font-size: 1.2rem;
    color: #2781BB;
    text-transform: uppercase;
}

.clr-bsk{
    float: right;
}
.clr-bsk a{
    padding: 7px 0;
    text-transform: uppercase;
    color: #2781BB;
    font-weight: bold;
    font-size: 0.9rem;
}

@media only screen and (min-width: 45em){
    .clr-bsk a{
        border:1px solid #2781BB;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 7px 24px;
    }
}

.available .title{
    display: block;
}
@media screen and (min-width: 45em) {
    .available .title{
        display: inline;
    }
}

.available .title{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

span.available, span.wait-days{
    padding-left: 21px;
    text-transform: lowercase;
}

span.wait-days{
    color:#23ceff;
    background: url("/bitrix/templates/design-station/img/clock1.gif") no-repeat left center;
}

span.available{
    background: url("/bitrix/templates/design-station/img/clock.gif")  no-repeat left center;
    color:#9cc900;
}

span.unknown{
    color:red;
    text-transform: lowercase;
}

.basket article{
    width: 100%;
}


.basket article{
    margin: 3em 0;
}

@media screen and (min-width: 45em) {

    .basket article{
        margin: 0;
    }

    .basket article .tc {
        /*height: 180px;*/
        float: none!important;
    }
}



.basket article .tc{
    display: block;
}

.basket article .tc:first-child{
    display: none;
}



@media screen and (min-width: 45em) {
    .basket article .tc{
        display: table-cell;
    }

    .basket article .tc:first-child{
        display: table-cell;
    }
}

.basket article figure{
    max-width: 125px;
}

.basket .properties h2{
    margin: 0;
}



.basket .properties h2 a{
    color: #1b1e24;
    text-decoration: none;
}

.basket .properties h2 a:hover{
    text-decoration: underline;
}

.basket .properties p{
    margin: 0;
}

.basket .properties .col-img{
    display: none;
}

@media screen and (min-width: 45em) {
    .basket .properties .col-img{
        height: 18px;
        width: 18px;
        display: inline-block;
        margin-right: 8px;
        vertical-align: -3px;
        border: 1px solid #333;
    }
}



.basket article img {
	max-height: 93px;
    
}

.quantityChanger{
    position: relative;
}

.basket .quantityChanger >*{
    display: inline-block;
    float: none !important;
}

.basket .quantityChanger .quantity{
    min-height: 35px;
    border-color:#cccccc;
    border-width:1px 0 1px 1px;
    border-style: solid;
    font-size: 1rem;
    vertical-align: 12px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.basket .quantityChanger .qty-ch{
    min-height: 35px;
    border: solid #ec8b00;
    border-width:1px 1px 1px 0;
    background: #ffcf00;
    position: relative;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.basket .quantityChanger .qty-ch > div{
    position: absolute;
    height: 50%;
}

.basket .quantityChanger .up{
    top:0;
    width: 100%;
    background: url("/bitrix/templates/design-station/img/arrow-up.png") no-repeat center;
}

.basket .quantityChanger .down{
    bottom:0;
    width: 100%;
    background: url("/bitrix/templates/design-station/img/arrow-down.png") no-repeat center;
}

.basket .price > div{
    text-align: center;
    line-height: 1.2;
    font-size: 0.9rem;
}

.basket .price div:first-child{
    color: #7f7f7f;
}

.basket #color-prop{
    font-size: 0.8rem;
}

.basket .available{
    font-size: 0.7rem;
}

@media screen and (min-width: 45em){
    .basket .price  > div{
        font-size: 1.2rem;
        line-height: 1.4em;
    }

    .basket .price div:first-child {
        margin-bottom:3px ;
    }

    #color-prop{
        margin: 0;
        font-size: 1rem;
    }

    .available{
        margin: 0;
        font-size: 1rem;
    }
}




.basket article .basket-delete .button {
	/*width: 50px; height: 50px;*/
	/*background: url(images/close.png) no-repeat center;*/

    background: url(/bitrix/templates/design-station/img/delete.png) no-repeat center;
    text-align: center;
    color: #ffb400;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: transparent;
}

@media screen and (min-width: 45em) {
    .basket article .basket-delete .button {
        display: block;
        color: #FFB400;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:1px solid #ffb400;
        background-image: none;
        padding: 10px;
    }
}

.basket article .basket-delete .button.close-on {
	background: url(images/close-on.png) no-repeat center;
}

.basketTotal{
    color: #000;
}

.basketTotal .results{
    padding-left: 42px;
    background: url("/bitrix/templates/design-station/img/res.png") no-repeat left bottom;
    min-height: 34px;
}

.basketTotal .total-price{
    text-align: right;
}

#orderAncor .delivery{
    clear: both;
    padding-left: 0;

}

.dl-title{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 42px;
    background: url("/bitrix/templates/design-station/img/car-del.png") no-repeat left bottom;
    min-height: 23px;
    margin: 0.5rem 0;
}

#orderAncor .delivery .text{
    color: #3f3f3f;
    font-weight: 500;
    text-shadow: 1px 1px #D6D6D6;
    line-height: 1.6;
    padding: 0;
}

.grey{
    color: #9c9b9b;
}



.oformit {
	float: left;
}
.basket-clear {
	float: right;
}
.border-basket {
	border-top: 3px solid #f4f4f4 !important;
}

.submit .row {
    width: 80%;
    max-width: 231px;
    min-height: 35px;
    margin-top: 10px;
    font-size: 0.7rem;
    color: white;
    background: #ffa601;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc401), to(#ffa601));
    background: -webkit-linear-gradient(top, #ffc401, #ffa601);
    background: -moz-linear-gradient(top, #ffc401, #ffa601);
    background: -ms-linear-gradient(top, #ffc401, #ffa601);
    background: -o-linear-gradient(top, #ffc401, #ffa601);
    display: block;
    float: none;
    border: 1px solid #ec8b00;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.submit .row input{
    width: 100%;
    display: block;
    border: none;
    min-height: 33px;
    background: url('/bitrix/templates/design-station/img/small-bsk.png') no-repeat 15px 4px transparent;
    color: white;
    text-transform: uppercase;
    padding-left: 23px;
}


.submit input:hover {
    /*opacity: 0.8;*/
    background-color: #2781BB;
}